<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.board.BoardMapper">

	<!-- 로그인 -->
  	<select id="login" resultType="Integer">
  		select count(*) from study_tbl_user where id = #{id} and pw = #{pw}
  	</select>
  	
  	<!-- 아이디중복체크 -->
  	<select id="checkid" resultType="String">
  		select count(*) from study_tbl_user where id = #{id}
  	</select>
  	
  	<!-- 회원등록 -->
  	<insert id="regist" parameterType="Map">
  		insert into study_tbl_user (id, pw) values (#{id},#{pw})
  	</insert>

	<!-- 게시글 목록 -->
	<select id="getList" resultType="com.study.board.dto.BoardDto">
		select * from
		(select tbl.* from
		(select rownum rnum, b_no, title, reg_id, to_char(reg_date,'yyyy-MM-dd')reg_date, hit from study_tbl_board
		order by b_no desc)tbl)
		where rnum between #{start} and #{end}
	</select>
	
	<!-- 페이징 총 게시글 수 -->
	<select id="totalcount" resultType="Integer">
		select count(*) from study_tbl_board
	</select>
	
	<!-- 조회수 증가 -->
  	<update id="hitcount">
  		update study_tbl_board
  		set hit = hit+1 where b_no=#{b_no}
  	</update>
	
	<!-- 게시글 상세보기 -->
	<select id="getView" resultType="com.study.board.dto.BoardDto">
		select b_no, title, content, reg_id, to_char(reg_date,'yyyy-MM-dd')reg_date, hit from study_tbl_board
  		where b_no = #{b_no}
	</select>

	<!-- 게시글 번호 자동생성 -->
	<select id="getAutoNo" resultType="String">
		select concat(#{i},to_char(REGEXP_REPLACE(nvl(max(${col}),'0'),'[^0-9]')+1,'FM000'))as ${col} from ${tbl}
	</select>
		
	<!-- 게시글 등록 -->
	<insert id="boardInsert" parameterType="com.study.board.dto.BoardDto">
		insert into study_tbl_board
		(b_no, title, content, reg_id, reg_date)
		values (#{b_no},#{title},#{content},#{reg_id},sysdate)
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="boardUpdate">
		update study_tbl_board
  		set title = #{title}, content = #{content}
  		where b_no = #{b_no}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="boardDelete">
		delete from study_tbl_board where b_no = #{b_no}
	</delete>
	
	<!-- 댓글 등록 -->
	<insert id="commentInsert">
		insert into study_tbl_comment
		(c_no, b_no, comments, reg_id, reg_time)
		values (#{c_no},#{b_no},#{comments},#{reg_id},sysdate)
	</insert>
	
	<!-- 댓글 목록 -->
	<select id="commentList" resultType="com.study.board.dto.BoardDto">
		select c_no, comments, reg_id, to_char(reg_time,'yyyy-MM-dd hh:mi:ss')reg_time
		from study_tbl_comment
		where b_no = #{b_no}
	</select>
</mapper>
